Client_Success_PowerAutomate_Flow.json
{\n  "definition": {\n    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",\n    "contentVersion": "1.0.0.0",\n    "parameters": {\n      "$connections": {\n        "defaultValue": {},\n        "type": "Object"\n      }\n    },\n    "triggers": {\n      "When_a_new_response_is_submitted": {\n        "type": "ApiConnectionWebhook",\n        "inputs": {\n          "host": {\n            "connection": {\n              "name": "@parameters('$connections')['forms']['connectionId']"\n            }\n          },\n          "body": {\n            "eventType": "ResponseAdded",\n            "notificationUrl": "@{listCallbackUrl()}",\n            "source": "ms-connector"\n          },\n          "path": "/formapi/api/forms/@{encodeURIComponent('YOUR_FORM_ID_HERE')}/webhooks"\n        }\n      }\n    },\n    "actions": {\n      "Calculate_Health_Score": {\n        "type": "Compose",\n        "inputs": "@div(add(add(add(triggerOutputs()?['body/r_satisfaction_score'], triggerOutputs()?['body/r_technical_expertise']), triggerOutputs()?['body/r_process_improvement']), triggerOutputs()?['body/r_value_delivery']), 4)",\n        "runAfter": {}\n      },\n      "Check_Health_Status": {\n        "type": "If",\n        "expression": {\n          "less": [\n            "@outputs('Calculate_Health_Score')",\n            7\n          ]\n        },\n        "actions": {\n          "Trigger_Intervention": {\n            "type": "ApiConnection",\n            "inputs": {\n              "host": {\n                "connection": {\n                  "name": "@parameters('$connections')['office365']['connectionId']"\n                }\n              },\n              "method": "post",\n              "body": {\n                "To": "success@company.com",\n                "Subject": "🚨 Client Health Alert - Immediate Attention Required",\n                "Body": "<p>A client health score has fallen below the acceptable threshold.<br><br><strong>Health Score:</strong> @{outputs('Calculate_Health_Score')}<br><strong>Form Response Details:</strong><br>- Satisfaction Score: @{triggerOutputs()?['body/r_satisfaction_score']}<br>- Technical Expertise: @{triggerOutputs()?['body/r_technical_expertise']}<br>- Process Improvement: @{triggerOutputs()?['body/r_process_improvement']}<br>- Value Delivery: @{triggerOutputs()?['body/r_value_delivery']}<br><br>Please review and take appropriate action.</p>",\n                "Importance": "High"\n              },\n              "path": "/v2/Mail"\n            }\n          }\n        },\n        "else": {\n          "actions": {}\n        },\n        "runAfter": {\n          "Calculate_Health_Score": [\n            "Succeeded"\n          ]\n        }\n      },\n      "Update_SharePoint": {\n        "type": "ApiConnection",\n        "inputs": {\n          "host": {\n            "connection": {\n              "name": "@parameters('$connections')['sharepointonline']['connectionId']"\n            }\n          },\n          "method": "post",\n          "body": {\n            "Title": "Client Success Entry - @{utcNow()}",\n            "SatisfactionScore": "@{triggerOutputs()?['body/r_satisfaction_score']}",\n            "TechnicalExpertise": "@{triggerOutputs()?['body/r_technical_expertise']}",\n            "ProcessImprovement": "@{triggerOutputs()?['body/r_process_improvement']}",\n            "ValueDelivery": "@{triggerOutputs()?['body/r_value_delivery']}",\n            "HealthScore": "@{outputs('Calculate_Health_Score')}",\n            "AlertTriggered": "@{if(less(outputs('Calculate_Health_Score'), 7), 'Yes', 'No')}"\n          },\n          "path": "/datasets/@{encodeURIComponent('YOUR_SHAREPOINT_SITE_URL')}/tables/@{encodeURIComponent('Client Success Monitoring')}/items"\n        },\n        "runAfter": {\n          "Check_Health_Status": [\n            "Succeeded"\n          ]\n        }\n      }\n    }\n  },\n  "connectionReferences": {\n    "forms": {\n      "connection": {\n        "id": "/subscriptions/{subscription-id}/providers/Microsoft.Web/locations/{location}/managedApis/forms"\n      }\n    },\n    "office365": {\n      "connection": {\n        "id": "/subscriptions/{subscription-id}/providers/Microsoft.Web/locations/{location}/managedApis/office365"\n      }\n    },\n    "sharepointonline": {\n      "connection": {\n        "id": "/subscriptions/{subscription-id}/providers/Microsoft.Web/locations/{location}/managedApis/sharepointonline"\n      }\n    }\n  }\n}